* {
    box-sizing: border-box;
}

:root {
    --primary-bgc: #efefef;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: "Public Sans", sans-serif;
}

/* Comment */
a {
    text-decoration: none;
}

.container {
    width: 1140px;
    max-width: calc(100% - 48px);
    margin: 0 auto;
}

.btn {
    display: inline-block;
    min-width: 173px;
    line-height: 57px;
    background: #143c3c;
    border: 1.5px solid #143c3c;
    border-radius: 40px;
    font-weight: 500;
    font-size: 1.8rem;
    text-align: center;
    color: #ffffff;
}

main,
footer {
    font-family: "Poppins", sans-serif;
}

/* ==============================Header================================== */
.header {
    padding-top: 30px;
    min-height: 100vh;
    background: var(--header-bg);
}

.header-top {
    position: relative;
    display: flex;
    align-items: center;
}

.header__logo {
    display: inline-block;
}

.navbar {
    margin-left: auto;
}

.navbar__list {
    display: flex;
}

.navbar__link {
    padding: 4px 19px;
    font-weight: 500;
    font-size: 1.8rem;
    color: #575d5e;
    transition: 0.25s;
}

.navbar__link:hover,
.navbar__link--active {
    font-size: 1.8rem;
    color: #152427;
    font-weight: 500;
}

.action--btn {
    margin-left: 70px;
    margin-bottom: 13px;
}

.action--btn:hover {
    opacity: 0.9;
}

.header-top::after {
    content: "";
    display: block;
    position: absolute;
    width: 1140px;
    height: 1px;
    bottom: 0;
    background: linear-gradient(90deg, #ffffff 0%, #dddcdc 51.09%, rgba(213, 213, 213, 0) 99.68%);
}

.navbar__link--active {
    position: relative;
}

.navbar__link--active::after {
    content: "";
    position: absolute;
    bottom: -22px;
    left: 18px;
    display: block;
    width: 16px;
    height: 2px;
    background: #143c3c;
    z-index: 1;
}

/* Hero */
.hero {
    display: flex;
    align-items: center;
    margin-top: 30px;
}

.hero__content {
    width: 32.5%;
    flex-shrink: 0;
}

.hero__media {
    flex-grow: 1;
}

.hero__heading {
    font-weight: 800;
    font-size: 5rem;
    line-height: 1.2;
    color: #152427;
}

.hero__desc {
    margin-top: 20px;
    font-weight: 500;
    font-size: 1.8rem;
    line-height: 1.56;
    color: #575d5e;
}

.hero__row {
    margin-top: 42px;
    display: flex;
    align-items: center;
}

.hero__video {
    margin-left: 36px;
}

.hero__image {
    display: flex;
    justify-content: flex-end;
    column-gap: 20px;
    transition: 0.25s;
}

.hero__img {
    width: 202px;
    height: 466px;
    object-fit: cover;
    border-radius: 110px;
    transition: 0.25s;
}

.hero__img:hover {
    transform: translateY(-12px);
}

.hero__img:nth-of-type(2) {
    margin-top: 70px;
}

.hero__icon {
    position: relative;
}

/* Clients */
.clients__inner {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 42px;
    padding: 70px 100px;
    background: #e2eddf;
    border-radius: 999px;
}

.clients__act {
    padding: 30px;
}

.clients__icon {
    margin-right: 5px;
}

.clients_4 {
    padding-left: 10px;
}

/* Services */
.service {
    margin-top: 106px;
}

.service__title {
    margin-left: 46px;
    position: relative;
    font-weight: 500;
    font-size: 1.6rem;
    color: #152427;
}

.service__title::before {
    position: absolute;
    left: -46px;
    top: 10px;
    content: "";
    display: inline-block;
    width: 25px;
    height: 1px;
    background: #152427;
}

.service__row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.service__controll {
    margin-right: 73px;
}

.service__heading {
    position: relative;
    margin-top: 12px;
    max-width: 520px;
    height: 104px;
    font-weight: 600;
    font-size: 4.2rem;
    line-height: 1.24;
    color: #152427;
}

.service__heading::after {
    position: absolute;
    bottom: 20px;
    right: 90px;
    content: "";
    display: inline-block;
    width: 66px;
    height: 2px;
    background: #152427;
}

.service__controll {
    display: flex;
    column-gap: 18px;
}

.controll__btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 54px;
    height: 54px;
    border-radius: 50%;
    border: 1px solid #575f66;
    color: #152427;
    outline: none;
    background: #e2eddf;
    transition: 0.25s;
}

.controll__btn:hover:hover {
    border-color: #2e80ce;
    background: #143c3c;
    color: #ffffff;
    cursor: pointer;
}

.service__list {
    margin-top: 76px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 16px;
}

.service__thumb {
    width: 370px;
    height: 318px;
    object-fit: cover;
    border-radius: 20px 20px 0px 0px;
}

.service__item:hover {
    background: #ffffff;
    box-shadow: -6px 9px 64px -4px rgba(118, 118, 118, 0.25);
    border-radius: 20px;
}

.service-item__heading {
    margin-top: 24px;
    font-weight: 600;
    font-size: 22px;
    line-height: 1;
    color: #152427;
}

.service-item__desc {
    width: 268px;
    height: 72px;
    margin-top: 18px;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.71;
    color: #7d8188;
}

/* Creative */
.creative {
    margin-top: 75px;
    padding: 75px;
}

.creative__inner {
    display: flex;
}

.creative__thumb {
    display: flex;
    flex-shrink: 0;
    width: 52%;
    column-gap: 12px;
}

.creative__img {
    width: 284px;
    height: 480px;
    box-shadow: 0px 4px 234px 11px rgba(59, 137, 71, 0.25);
    border-radius: 210px;
    object-fit: cover;
}

.creative__img-01:first-child {
    margin-top: 70px;
}

.creative__body {
    flex-grow: 1;
    margin-left: 64px;
}

.creative__small {
    display: flex;
    align-items: center;
    font-weight: 500;
    font-size: 1.6rem;
    color: #152427;
}

.creative__small::before {
    margin-right: 21px;
    display: inline-block;
    content: "";
    width: 25px;
    height: 1px;
    background: #152427;
}

.creative__heading {
    margin-top: 20px;
    font-weight: 600;
    font-size: 4.2rem;
    line-height: 1.24;
    color: #152427;
}

.creative__desc {
    margin-top: 11px;
    font-weight: 500;
    font-size: 1.6rem;
    line-height: 1.62;
    color: #7d8188;
}

.creative-row {
    margin-top: 38px;
    padding-bottom: 20px;
    border-bottom: 1px solid #83a17d;
    display: flex;
    width: 478px;
    height: 52px;
}

.creative-row__tast {
    font-weight: 600;
    font-size: 4.2rem;
    color: #152427;
}

.creative-row__desc {
    margin-left: 24px;
    font-weight: 500;
    font-size: 1.4rem;
    line-height: 1.71;
    color: #7d8188;
}

.creative-trend {
    padding: 19px 23px 11px;
    font-family: "Public Sans", sans-serif;
    max-width: 143px;
    height: 144px;
    background: #ffffff;
    box-shadow: 0px 7px 54px rgba(154, 154, 154, 0.25);
    border-radius: 8px;
}

.creative-trend__heading {
    font-weight: 600;
    font-size: 1.4rem;
    color: #152427;
    white-space: nowrap;
}

.creative-trend__desc {
    margin-top: 6px;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.4;
    color: #575d5e;
    opacity: 0.4;
}

.creative__stats {
    padding-bottom: 3px;
    font-weight: 500;
    font-size: 1rem;
    line-height: 1.4;
    color: #152427;
}

.creative__stats::after {
    content: "";
    display: inline-block;
    width: 96px;
    height: 2px;
    background: #eaeaea;
    border-radius: 10px;
}

.solid {
    display: inline-block;
    position: relative;
    bottom: 20px;
    width: 40px;
    height: 2px;
    background: #83a17d;
    border-radius: 10px;
}

